/* Скрываем стрелку вверх-вниз в полях ввода с типом number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} /* Скрываем стрелку вверх-вниз в различных браузерах */

input[type="number"] {
  -moz-appearance: textfield;
} /* Скрываем стрелку вверх-вниз в Firefox */

body {
  background-color: #1a1a1a; /* Цвет фона */
}

#title {
  color: white; /* Цвет текста */
  font-size: 48pt; /* Размер шрифта */
  font-family: "Rubik"; /* Шрифт */
  text-align: center; /* Центрирование */
}

/* Параметры формы */
#myForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}

.input {
  width: 410px; /* Ширина поля ввода */
  height: 60px; /* Высота поля ввода */
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
  border-radius: 100px; /* Закругленные углы */
  color: #e5e5e5; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы внутри поля ввода */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  font-size: 24pt; /* Размер шрифта */
  font-family: "Rubik", sans-serif; /* Шрифт */
  margin-bottom: 10px; /* Отступ снизу */
}

.button {
  width: 450px; /* Ширина кнопки */
  height: 80px; /* Высота кнопки */
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
  border-radius: 100px; /* Закругленные углы */
  color: #e5e5e5; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  font-size: 24pt; /* Размер шрифта */
  font-family: "Rubik"; /* Шрифт */
}

/* Стили для наведения курсора на кнопку */
.button:hover {
  background-color: white; /* Белый фон при наведении */
  color: black; /* Черный цвет текста при наведении */
}

#download_form {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#download_form .button {
  margin-right: 10px;
}

/* Выравнивание текста в плейсхолдерах по центру */
.input::placeholder {
  text-align: center;
}

.container1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#divForm {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (orientation: portrait) and (max-height: 700px) {
  #title {
    font-size: 28pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 275px; /* Ширина кнопки */
    height: 53px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }
  .input {
    width: 232px; /* Ширина кнопки */
    height: 32px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }

  .container1 {
    top: 12%;
  }

  #divForm {
    position: absolute;
    top: 53vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #download_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  #download_form .button {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media screen and (orientation: portrait) and (min-height: 700px) and (max-height: 790px) {
  #title {
    font-size: 26pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 295px; /* Ширина кнопки */
    height: 54px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }
  .input {
    width: 246px; /* Ширина кнопки */
    height: 37px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }

  .container1 {
    top: 12%;
  }

  #divForm {
    position: absolute;
    top: 46vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #download_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 83vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  #download_form .button {
    margin-bottom: 10px;
    margin-right: 0;
  }
}



@media screen and (orientation: portrait) and (min-height: 791px) and (max-height: 950px) {
  #title {
    font-size: 24pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 295px; /* Ширина кнопки */
    height: 54px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }
  .input {
    width: 246px; /* Ширина кнопки */
    height: 37px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }

  .container1 {
    top: 12%;
  }

  #divForm {
    position: absolute;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #download_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 66vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  #download_form .button {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media screen and (orientation: portrait) and (min-height: 951px) and (max-height: 1200px) {
  #title {
    font-size: 35pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 400px; /* Ширина кнопки */
    height: 70px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }
  .input {
    width: 365px; /* Ширина кнопки */
    height: 52px; /* Высота кнопки */
    font-size: 19pt; /* Размер шрифта */
  }

  .container1 {
    top: 12%;
  }

  #divForm {
    position: absolute;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #download_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 66vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  #download_form .button {
    margin-bottom: 10px;
    margin-right: 0;
  }
}




