body {
    background-color: #202125; /* Цвет фона */
}

#title {
    color: white;
    font-size: 40pt;
    font-family: 'Rubik', sans-serif; /* Шрифт */
}

#myForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input {
    width: 420px; /* Ширина кнопки */
    height: 70px; /* Высота кнопки */
    background-color: transparent; /* Прозрачный фон */
    border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
    border-radius: 100px; /* Закругленные углы */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    font-size: 24pt; /* Размер шрифта */
    font-family: 'Rubik', sans-serif; /* Шрифт */
    margin-bottom: 10px; /* Отступ снизу */
}

.button {
    width: 420px; /* Ширина кнопки */
    height: 70px; /* Высота кнопки */
    background-color: transparent; /* Прозрачный фон */
    border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
    border-radius: 100px; /* Закругленные углы */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    font-size: 24pt; /* Размер шрифта */
    font-family: 'Rubik', sans-serif; /* Шрифт */
    
}

/* Стили для наведения курсора на кнопку */
.button:hover {
    background-color: white; /* Белый фон при наведении */
    color: black; /* Черный цвет текста при наведении */
}

#generateButton {
    text-align: center;
    position: absolute;
    top: 415px; /* Регулируйте это значение в зависимости от вашего дизайна */
    left: 0;
    right: 0;
    margin: 0 auto;
  }