/* Скрываем стрелку вверх-вниз в полях ввода с типом number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} /* Скрываем стрелку вверх-вниз в различных браузерах */

input[type="number"] {
  -moz-appearance: textfield;
} /* Скрываем стрелку вверх-вниз в Firefox */

/* Фон */
body {
  background-color: #1a1a1a; /* Цвет фона */
}

#title {
  color: white; /* Цвет текста */
  font-size: 48pt; /* Размер шрифта */
  font-family: "Rubik"; /* Шрифт */
  text-align: center; /* Центрирование */
}

.input {
  width: 410px; /* Ширина поля ввода */
  height: 60px; /* Высота поля ввода */
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
  border-radius: 100px; /* Закругленные углы */
  color: #e5e5e5; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы внутри поля ввода */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  font-size: 24pt; /* Размер шрифта */
  font-family: "Rubik"; /* Шрифт */
  margin-bottom: 10px; /* Отступ снизу */
}

.button {
  width: 450px; /* Ширина кнопки */
  height: 79px; /* Высота кнопки */
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
  border-radius: 100px; /* Закругленные углы */
  color: #e5e5e5; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  font-size: 24pt; /* Размер шрифта */
  font-family: "Rubik"; /* Шрифт */
}

/* Стили для наведения курсора на кнопку */
.button:hover {
  background-color: white; /* Белый фон при наведении */
  color: black; /* Черный цвет текста при наведении */
}

/* Параметры формы */
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input::placeholder {
  text-align: center;
}

.container1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  #title {
    text-align: center; /* Центрирование */
  }
  .input {
    width: 350px; /* Ширина кнопки */
    height: 54px; /* Высота кнопки */
  }
  .button {
    width: 392px; /* Ширина кнопки */
    height: 72px; /* Высота кнопки */
  }

  .container1 {
    top: 30%;
  }
}
