/* Скрываем стрелку вверх-вниз в полях ввода с типом number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} /* Скрываем стрелку вверх-вниз в различных браузерах */

input[type="number"] {
  -moz-appearance: textfield;
} /* Скрываем стрелку вверх-вниз в Firefox */

body {
  background-color: #1a1a1a; /* Цвет фона */
}

.input {
  width: 80vw; /* Ширина поля ввода */
  height: 72px; /* Высота поля ввода */
  background-color: transparent; /* Прозрачный фон */
  border: 3px solid white; /* Серая окантовка */
  border-radius: 100px; /* Закругленные углы */
  color: #e5e5e5; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы внутри поля ввода */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  font-size: 30pt; /* Размер шрифта */
  font-family: "Rubik", sans-serif; /* Шрифт */
  margin-bottom: 10px; /* Отступ снизу */
}

.task {
  text-align: center;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "Rubik"; /* Шрифт */
  font-size: 40pt; /* Размер шрифта */
  color: white; /* Цвет задачи */
}

.just_text {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "Rubik"; /* Шрифт */
  font-size: 20pt; /* Размер шрифта */
  color: #e5e5e5; /* Цвет текста */
}
/* Выравнивание текста в плейсхолдерах по центру */
.input::placeholder {
  text-align: center
}

#stats {
  color: #e5e5e5;
  margin-top: 3vh;
  margin-left: 2.5vw;
  font-size: 30px; 
  font-family: Rubik;
}

