body {
  background-color: #1a1a1a; /* Цвет фона */
  font-family: "Rubik", sans-serif; /* Шрифт */
}

#title {
  color: white; /* Цвет текста */
  font-size: 74pt; /* Размер шрифта */
  position: absolute;
  top: 28vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.button {
  width: 100%; /* Ширина кнопки занимает 100% ширины родительского элемента */
  max-width: 410px; /* Максимальная ширина кнопки */
  height: 67px; /* Высота кнопки */
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
  border-radius: 100px; /* Закругленные углы */
  color: #e5e5e5; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  font-size: 26pt; /* Размер шрифта */
  margin: 6px; /* Отступы */
}

.container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media screen and (orientation: portrait) and (max-height: 700px) {
  #title {
    font-size: 32pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 310px; /* Ширина кнопки */
    height: 58px; /* Высота кнопки */
  }

  .container1 {
    top: 12%;
  }
}

@media screen and (orientation: portrait) and (max-height: 860px)  and (min-height: 701px) {
  #title {
    font-size: 32pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 320px; /* Ширина кнопки */
    height: 58px; /* Высота кнопки */
  }

  .container {
    position: absolute;
    top: 48vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}

@media screen and (orientation: portrait) and (max-height: 1000px)  and (min-height: 861px) {
  #title {
    font-size: 38pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 330px; /* Ширина кнопки */
    height: 61px; /* Высота кнопки */
  }

  .container {
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}

@media screen and (orientation: portrait) and (min-aspect-ratio: 0.7/1) {
  #title {
    font-size: 42pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 330px; /* Ширина кнопки */
    height: 61px; /* Высота кнопки */
  }

  .container {
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-aspect-ratio: 0.45/1) {
  #title {
    font-size: 30pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }

  .button {
    width: 250px; /* Ширина кнопки */
    height: 55px; /* Высота кнопки */
    font-size: 20pt; /* Размер шрифта */
  }

  .container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}




