body {
  background-color: #1a1a1a; /* Цвет фона */
}

#title {
  color: white; /* Цвет текста */
  font-size: 56pt; /* Размер шрифта */
  font-family: "Rubik";
  text-align: center;
  position: absolute;
  top: 28vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) and (max-height: 700px) {
  #title {
    font-size: 32pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }
}

@media screen and (orientation: portrait) and (max-height: 950px) {
  #title {
    font-size: 30pt; /* Размер шрифта */
    text-align: center; /* Центрирование */
  }
}

@media screen and (orientation: portrait) and (min-aspect-ratio: 0.65/1) {
  #title {
    font-size: 27pt; /* Размер шрифта */
  }

}




