.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: var(--primary-color);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto 0;
    border-radius: 30px;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.half-width {
    width: 100%;
}

.input.half-width:first-child {
    margin-right: 10%;
}

.input {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5vw;
    padding: 0.3vw;
    white-space: nowrap;
    transform-origin: 0 0;
    background: var(--primary-color);
    transition: transform 120ms ease-in;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    line-height: 1.2;
    font-size: 1rem;
    pointer-events: none;
}

.input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 55px;
    border: 3px solid var(--secondary-color);
    padding: 20px 30px 10px 10px;
    color: var(--primary-text-color);
    background: transparent;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    pointer-events: auto;
    line-height: 1.2;
}

.input__field:focus + .input__label,
.input__field:not(:placeholder-shown) + .input__label,
select.input__field:focus + .input__label,
select.input__field:not([value=""]) + .input__label,
select.input__field:valid + .input__label {
    transform: translate(0.45rem, calc(-50% - 1.2rem)) scale(0.8);
    color: var(--secondary-text-color);
}

select.input__field:invalid + .input__label {
    transform: translateY(-50%);
    color: var(--primary-text-color);
}

select.input__field {
    background: var(--primary-color);
    color: var(--primary-text-color);
    padding: 15px 30px 10px 10px;
    height: 55px;
    line-height: 1.2;
    appearance: none;
    display: flex;
    align-items: center;
}

select.input__field option {
    background: var(--background-color);
    color: var(--primary-text-color);
    height: 55px;
    line-height: 1.2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.skull-rating {
    display: flex;
    justify-content: center;
    margin-top: -6vh;
}

.skull {
    font-size: 2.718281828459045rem;
    cursor: pointer;
    transition: color 0.5s;
    opacity: var(--skull-opacity);
    margin-top: 30px;
}

.skull.hovered {
    opacity: var(--skull-selected-opacity);
}

.skull.selected {
    opacity: var(--skull-selected-opacity);
}

.num_tasks_label {
    margin-top: 0;
    margin-bottom: -27px;
}

.num_tasks_input_div {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.task_text {
    position: absolute;
    left: 31vw;
    margin-right: 10px;
    font-size: 1.2rem;
}

.num_task_input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    border: 3px solid var(--secondary-color);
    padding: 10px;
    color: var(--primary-text-color);
    background: transparent;
    border-radius: 5px;
    outline: none;
    font-size: 1.4rem;
    pointer-events: auto;
    line-height: 1.2;
    text-align: center;
}

.num_task_wrapper {
    position: absolute;
    width: 8vw;
    right: 31vw;
}

.level {
    margin-top: 5vh;
}

@media screen and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        background-color: var(--primary-color);
        padding: 20px;
        box-sizing: border-box;
        margin: 20px auto 0;
        border-radius: 30px;
    }



    .num_tasks_input_div {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .task_text {
        position: static;
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .num_task_wrapper {
        position: static;
        width: 100%;
    }

    .num_task_input {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    .form {
        width: 100%;
        padding: 10px;
    }

    .task_text {
        font-size: 0.9rem;
    }

    .num_task_input {
        font-size: 1.2rem;
    }



    .level {
        margin-bottom: -10vh;
    }
}



